<p>app-equipment work</p>

<div *ngFor="let equipment of equipmentList;  let i=index">
    <div *ngIf="i<10">
  <h2>{{equipment.title.fr !== null ? equipment.title.fr : "No idea"}}</h2>
  <p>Level : {{equipment.definition.item.level}}</p>
  <ul>
    <li *ngFor="let effect of equipment.definition.equipEffects">
      <div  *ngFor="let action of actionList">
        {{action.definition.id == effect.definition.actionId  ? action.definition.effect : ""}}
      </div>
          Calcul : {{effect.definition.params[1]}}*{{equipment.definition.item.level}}+{{effect.definition.params[0]}}
    </li>
  </ul>
</div>
</div>
